extends: default

yaml-files:
  - "*.yaml"
  - "*.yml"

yaml-tags:
  - "!reset"

rules:
  line-length:
    max: 120
    level: warning
  document-start:
    present: false
  truthy: disable
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
