[Unit]
Description=Pi-Web
Requires=docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
WorkingDirectory=__PROJECT_PATH__
EnvironmentFile=__PROJECT_PATH__/.env
ExecStartPre=-/usr/sbin/ethtool -K eth0 rx-udp-gro-forwarding on rx-gro-list off
ExecStartPre=/bin/sh __PROJECT_PATH__/scripts/authelia-pre-start.sh
ExecStartPre=/bin/sh __PROJECT_PATH__/scripts/headscale-pre-start.sh
ExecStartPre=/bin/sh __PROJECT_PATH__/scripts/backrest-pre-start.sh
ExecStartPre=/bin/sh __PROJECT_PATH__/scripts/ntfy-pre-start.sh
ExecStart=/usr/bin/docker compose up -d
ExecStartPost=-/bin/bash __PROJECT_PATH__/scripts/headscale-init.sh
ExecStartPost=-/bin/sh __PROJECT_PATH__/scripts/beszel-agent-bootstrap.sh
ExecStartPost=-/bin/sh __PROJECT_PATH__/scripts/portainer-oidc-bootstrap.sh
ExecStartPost=-/bin/sh __PROJECT_PATH__/scripts/nextcloud-oidc-bootstrap.sh
ExecStartPost=-/bin/sh __PROJECT_PATH__/scripts/pihole-bootstrap.sh
ExecStartPost=-/bin/sh __PROJECT_PATH__/scripts/uptime-kuma-bootstrap.sh
ExecStop=/usr/bin/docker compose down --remove-orphans
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
