###############################
# WireGuard Config Ignore File
###############################

# 1. Ignore everything in this directory
*
*/

# 2. Whitelist .gitignore so this rule set is kept
!.gitignore

# 3. Whitelist the coredns directory and all its contents
!coredns/
!coredns/**
