[Unit]
Description=proxy
Requires=docker.service
After=network-online.target docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/web/proxy
EnvironmentFile=/opt/web/.env
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose down
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
